# Limites système pour l'utilisateur elasticsearch
elasticsearch soft nofile  65535
elasticsearch hard nofile  65535
elasticsearch soft nproc   4096
elasticsearch hard nproc   4096
elasticsearch soft memlock unlimited
elasticsearch hard memlock unlimited
