# ============================================================================
# JVM Heap - 50% de la RAM disponible (best practice Elastic)
# ============================================================================
-Xms{{ es_heap_size }}
-Xmx{{ es_heap_size }}
