# Module kibana - access and audit logs
- module: kibana
  log:
    enabled: true
    var.paths: ["/var/log/kibana/kibana.log"]
  audit:
    enabled: true
    var.paths: ["/var/log/kibana/kibana_audit.log"]
